body, html {
	margin: 0px;
	padding: 0px;
	font-family: "Arial Black";
	text-align: center;
	color: white;
}

header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url("images/background.jpg");
}

nav {
	position: static;
}

.nav li {
	display: inline-block;
	margin: 10px 3% 10px 3%;
}

.nav li a:visited{
	color: white;
}

.nav li a:hover {
	color: black;
}

a:link{
	text-decoration: none;
}

#title-block{
	position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translateY(-50%);
  	transform: translateX(-50%);
  	font-size: 2em;
}

.down-arrow{
	position:absolute;
	bottom: 50px;
	margin: auto;
}
