/* Element Tags
======================================================= */
body, html {
	margin: 0px;
	padding: 0px;
	font-family: "Optima";
	font-weight: 100;
	line-height: 1.7;
}

nav {
	position: fixed;
	top: 0px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 50px;
	transition: visibility .5s, opacity .5s, background-color 1s;
	z-index: 1;
}

a{
	transition: color .4s;
	color: white;
}

a:visited{
	color: white;
}

a:hover {
	color: rgb(255, 150, 58);
	cursor: pointer;
}

a:link{
	text-decoration: none;
}

header {
	width: 100%;
	min-height: 100vh;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: "Arial Black";
	font-weight: normal;
	text-align: center;
	background-image: url("images/background.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
}

section{
	width: 100%;
	min-height: 100vh;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	color: #7A7A7A;
	background-color: white;
}

footer{
	color: white;
	width: 100%;
	background-color: rgb(45, 45, 45);
	overflow: auto;
	margin: 0px;
	padding: 0px;
}

canvas{
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

p a{
	color: rgb(20, 180, 185);
}
p a:visited{
	color: rgb(20, 180, 185);
}
p a:hover{
	color: rgb(255, 150, 58);
	cursor: pointer;
}

ul{
	padding: 0px;
}

/* navigation
======================================================= */
#nav li {
	display: inline-block;
	margin: 0px 3% 0px 3%;
}

.selected{
	color: rgb(20, 180, 185);
}

.selected:visited{
	color: rgb(20, 180, 185);
}

.selected:hover{
	color: rgb(255, 150, 58);
}

/* Sections
======================================================= */
.title{
	margin-top: 100px;
	font-size: 3em;
	font-family: cursive;
	text-align: center;
}

.white{
	color: white;
}

.black{
	color: rgb(45, 45, 45);
}

.subtitle{
	margin: 20px;
	text-decoration: underline  rgb(20, 180, 185);
	text-align: center;
}

.center{
	width: 80%;
	max-width: 1250px; 
	margin: auto;
}

.subsection{
	margin-bottom: 75px;
	clear: both;
}

.links{
	color: white;
	font-size: 2em;
	text-align: center;
}

.links ul{
	padding: 0px;
}

.links li{
	margin: 3%;
	display: inline-block;
}

.outer-list li{
	list-style-type: none;
	padding: 0% 5%;
}
.inner-list{
	margin: 0px;
	margin-bottom: 16px;
	padding-left: inherit;
}

.inner-list li{
	display: list-item;
	list-style-type: circle;
	padding: 0px;
}

/* Main page
======================================================= */
#title-block{
  	max-width: 1000px;
  	margin: auto;
  	margin-top: 15%;
  	margin-bottom: 80px;
}

#title-block h1{
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
	font-size: 7em;
	padding-top: 25px;
}

#title-block h3{
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
	font-family: "Georgia";
	line-height: normal;
	font-size: 2em;
}

#down-arrow{
	margin: auto;
	font-size: 35px;
	position: absolute;
	bottom: 50px;
}


/* About
======================================================= */
#about{
	background-color: rgb(45, 45, 45);
}

#about .title{
	color: white;
}

#profile{
	margin: .5em 1em 0% 17%;
	float: left;
	width: 10%;
	min-width: 100px;
}
#description{
	padding: 0% 17% 2% 17%;
}

/* Resume
======================================================= */
#resume h3, th{
	color: rgb(45, 45, 45);
	margin-bottom: 0px;
}

#resume-download{
	width: 200px;
	height: 50px;
	background-color: rgb(45, 45, 45);
	text-align: center;
	line-height: 50px;
	color: white;
	border-radius: 7px;
	transition: color .4s;
	margin:auto;
	margin-bottom: 100px;

}

.school-container{
	float: left;
    width: 50%;
    margin-bottom: 75px;
}

.school-left{
	margin-left: 20%;
	padding-right: 5%;
}
.school-right{
	padding-left: 10%;
	border-left: 1px solid #BBBBBB;
}

#resume-header{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#resume-download:hover{
	color: rgb(255, 150, 58);
	cursor: pointer;
}

#resume p{
	margin-top: 0px;
}

#resume span{
	text-align: center;
}

#skills{
	border-collapse: collapse;
	width: 60%;
	margin: auto;
	margin-top: 30px;

}

#skills .percent{
	color: white;
}

#skills td:nth-child(odd){
	text-align: center;
}

.percent{
	padding-left: 5px;
	background-color: rgb(20, 180, 185);
}

/* Portfolio
======================================================= */

#portfolio{
	background-color: rgb(205, 213, 221);
	text-align: center;
}

.project-block{
	display: inline-block;
	color: white;
	width: 20vw;
	height: 20vw;
	min-width: 300px;
	min-height: 300px;
	margin: 0px 3% 3% 3%;
	position: relative;
	background-color: rgb(199, 188, 226);
}

.project-thumbnail{
	display: block;
  	width: 100%;
  	height: auto;
}
.overlay{
 	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: rgba(0, 0, 0, .85);
  	overflow: hidden;
  	width: 100%;
  	height: 25%;
  	transition: .5s;
  	text-align: center;
}

.overlay h3{
	margin-top: 8%;
	margin-bottom: 5%;
}
.project-block:hover .overlay{
	height: 100%;
	overflow: auto;
}
.overlay p{
	visibility: hidden;
	transition: .5s;
}
.project-block:hover p{
	visibility: visible;
}


/* Contact
======================================================= */

#contact h1{
	margin: 50px;
}

#contact-info{
	height: 50px;
	text-align: center;
	line-height: 50px;
	width: 50%;
	margin: auto;
	border: 2px solid rgb(20, 180, 185);
	border-radius: 3px;
}

#contact span{
	text-align: center;
	margin: 0px 25px;
}